doctype 5
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:og='http://ogp.me/ns#', xmlns:fb='https://www.facebook.com/2008/fbml')


	head
		title= title
		meta(property='og:image', content='http://www.hackmichigan.com/images/hackm.png')

		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/jquery.min.js")
		script(type="text/javascript")

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-34246888-2']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();


	body
		.container.push
			.nav
				.nav-title
					.pres Michigan Hackers Present:
					a(href="/")=title
				.nav-sub 
					a.link(href="/prizes") prizes
					a.link(href="/schedule") schedule
					a.link(href="/sponsors") sponsors
					a.link(href="/contact") contact

			block content
		.container
			p.foot Built by 
				a(href="http://www.michiganhackers.org") Michigan Hackers
				|  in Ann Arbor
			p.left
					a(href="https://www.facebook.com/michiganhackers"): img(src="images/facebook.png")
					a(href="https://twitter.com/MichiganHackers"): img(src="images/twitter.png")
